<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<head>
<title>Sites from a Planet feed</title>
</head>
<body>

<h1>Sites from a Planet feed</h1>

<p>This is an aggregation of websites I read.</p>

<ul>
{% for blog in blogs %}
    <li>
    <span class="{{ blog.dateclass }}">
    {% if blog.authorname %}
        <span class="name">{{ blog.authorname }}</span>
    {% endif %}

    <a class="bloglink" href="{{ blog.link }}">{{ blog.title }}</a>
    {% if blog.latestentry %}
        <span class="latestentry">
            <a class="entrylink" href="{{ blog.latestentry.link
}}">{{ blog.latestentry.title }}</a>
        </span>
    {% endif %}

    <span class="age">Updated: {{ blog.age }}</span>
    </span>
    </li>
{% endfor %}
</ul>

<p class="credit">Produced by <a href="https://gitlab.com/puzzlement/roidroll">roidroll</a>.</p>
</body>
</html>
